@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services")
Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/


/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

/* ------------------------------- 3. Layout --------------------------------------- */
:root {
    --intro-services-bg-color: white;
    --projects-bg-color: #F2F0FF;
    --header-contactform-bg-color: linear-gradient(90deg, rgba(70,69,137,1) 0%, rgba(87,34,205,1) 80%);
    --main-font-color: #0C0C0C;
    --header-contactform-font-color: white;
}


/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */


/* --------------- 4.1 Header ------------------------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--header-contactform-font-color);
    background: var(--header-contactform-bg-color);
    /*Ik kreeg het kleurverloop niet precies hetzelfde als in het voorbeeld, maar volgens mij komt het toch aardig in de buurt.*/
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    padding: 20px 40px;
    list-style-type: none;
}

.navbar-items {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

 a {
     color: inherit;
     text-decoration: none;
 }

 a:hover {
     color: #ED4385;
     /*Vond ik leuk om toe te voegen*/
 }


.outer-container-header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container-header-text {
    flex-basis: 500px;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    justify-items: center;
    align-items: center;
    padding-bottom: 100px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
}

.header-paragraph {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 20px;
}

.contact-button {
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 8px;
    font-weight: 600;
    color: #F2F0FF;
    text-transform: uppercase;
    background-color: #ED4385;
    border: solid #ED4385;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /*Het is lastig om de schaduw exact na te maken, maar volgens mij komt dit behoorlijk in de buurt*/
}

.contact-button:hover {
    /*Vond ik leuk om toe te voegen*/
    color: #ED4385;
    background-color: white;
    border-color: white;
    /*op een of andere manier blijft er standaard steeds een rand rond de button in de oorspronkelijke kleur als je er overheen hovert, maar zo kon ik dat oplossen.*/
    font-weight: 600;
}

#image-squiggle-line-stripe {
    color: #F2F0FF;
    width: 50px;
    /*Anders was het plaatje in verhouding te groot*/
    margin-bottom: -15px;
    /*Zo valt een deel van het streepje buiten het vak, en klopt de lengte ervan. Het is niet de meest fraaie manier, maar het werkt. Ik heb position properties geprobeerd, maar toen gebeurden er hele rare dingen... :-)*/
}

/* --------------- 4.2 Introduction ------------------- */

.outer-container-introduction {
    background-color: var(--intro-services-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container-introduction {
    flex-basis: 500px;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    justify-items: center;
    align-items: center;
    padding-block: 50px;
}

.intro-text {
    text-align: center;
    color: #5722CD;
    padding-top: 20px;
}

#question {
    text-align: center;
    color: #0C0C0C;
    font-size: 12px;
    padding-top: 70px;
    padding-bottom: 25px;
}

#contact-link {
    color: #5722CD;
}

#contact-link:hover {
    color: #ED4385;
    /*Vond ik leuk om toe te voegen*/
}

/* --------------- 4.3 Projects ------------------- */

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.images-projects {
    width: 100%;
}



/* ------------------------------- 5. Media Queries -------------------------------- */